.search-form{
    font-size: 1.2rem;
    line-height: normal;
    display: flex;
    align-items: stretch;

    &__input{
        background: #dfdfdf;
        padding: 1rem 0 1rem 1.2rem;
        flex-grow: 1;

    }

    &__button{
        font-size: 2.1rem;
        background: #dfdfdf !important;
        padding: 0 1rem !important;
        z-index: 3;
    }

    @media(max-width:992px){
        order: 2;
    }
    @media(max-width: 639px){
        width: 70%;
        order: 5;
    }
    @media(max-width: 576px){
        width: 100%;
    }
}