.header{
    &__row{
        &_border-b{
            border-bottom: 1px solid #f0f0f0;
        }
    }

    &__contacts{
        display: flex;
        align-items: center;
        padding: 0.9rem 0;

        @media(max-width:992px){
            display: block;
        }
    }

    &__location{
        font-size: 1.1rem;
        line-height: 2.4rem;
        display: flex;
        flex-wrap:wrap;
        max-width: 50%;
        padding-right: 25px;

        & .icon-text{
            padding-right: 5rem;
            font-weight: 600;
    
            &:last-child{
                padding-right: 0;
            }
        }

        @media(max-width: 992px){
            max-width: 100%;
            width: 100%;
            justify-content: space-between;
            padding-right: 0;
            padding-bottom: 15px;
        }
        @media(max-width: 639px){
            display: none;
        }
    }

    &__calls{
        margin-left: auto;
        font-size: 1.3rem;
        line-height: 2.4rem;   
        display: flex;
        align-items: center;

        @media(max-width: 1140px){
            flex: 0 0 auto;
        }
        @media(max-width:992px){
            margin-left: 0;
            justify-content: center;
        }
    }

    &__call{
        position: relative;
        padding-right: 3rem;
        display: flex;
        align-items: center;
        flex: 0 0 auto;

        & i{
            margin-left: 0.5rem;
            transition: all 0.5s;
        }

        & a{
            &:hover, &:focus{
                color:#9b0a0a; 
                transition: all 0.7s;
            }
        }

        &:last-child{
            padding-right: 0;
        }

        &:hover {
            & > .header__phones{
                opacity: 1;
                transform: translateY(0);
                transition: all 0.5s;
                z-index: 9;
            }

            & i.fa-caret-down{
                transform: rotate(180deg);
            }
        }

        @media(max-width: 1140px){
            padding-right: 2rem;
        }
        @media(max-width:992px){
            padding-right: 0;
            
            &:nth-child(1){
                order:2;
                margin-left: auto;
                margin-right: auto;
            }

            &:nth-child(2){
                order:1;
            }

            &:nth-child(3){
                order:3;
            }
        }

        @media(max-width: 639px){
            &:nth-child(1){
                display: none;
            }

            &:nth-child(2){
                display: none;
            }
        }
    }

    &__phones{
        position: absolute;
        top: 100%;
        right:2rem;
        background: #fff;
        padding: 0 1rem;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        opacity: 0;
        transform: translateY(-25px);
        z-index: -9;

        & .header__phone{
            padding: 0.5rem 0;
            border-bottom: 1px solid #e8e8e8;
            display: flex;
            flex-wrap:wrap;

            &:last-child{
                border-bottom: 0;
            }
        }

        &_mobile{
            position: relative;
            top:0;
            left:0;
            color: #333;
            opacity: 1;
            background: none;
            box-shadow: none;
            -webkit-box-shadow:none;
            order: 6;
            font-size: 1.4rem;
            font-weight: bold;
            display: none;
            justify-content: space-between;
            flex-wrap: wrap;
            transform: none;
            width: 70%;
            z-index: 1;
            padding: {
                top: 1rem;
                bottom: 1em;
                left: 0;
                right: 0;
            }

            & > div.header__phone{
                border:none;
                max-width: 195px;
                width:100%;
                display: flex;
                align-items: center;
                justify-content: center;

                @media(max-width: 589px){
                    max-width:  100%;
                }
            }

            @media(max-width: 639px){
                display: flex;
            }
            @media(max-width: 576px){
                width: 100%;
            }
        }
    }

    &__messengers{
        display: flex;
    }

    &__messenger{
        width: 28px;
        height: 28px;
        margin-left: 3px;
    }

    &__menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0.8rem;
        position: relative;

        @media(max-width:992px){
            flex-wrap: wrap;
        }
        @media(max-width: 639px){
            flex-direction: column;
        }
    }

    &__mobile-toggler{
        font-size: 1.4rem;
        background: #333 !important;
        color: #fff;
        border-radius: 3px !important;
        -webkit-border-radius: 3px !important;
        position: absolute;
        top:1.3rem;
        left:0;
        width: 3rem;
        height: 3rem;
        display: none;

        @media(max-width: 639px){
            display: block;
        }
    }
}