.menu{
    padding-top:3.5rem;
    flex-grow: 1;

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight: 600;

        @media(max-width:992px){
            justify-content: space-between;
        }

        @media(max-width: 639px){
            display: block;
            background: #efefef;
            font-size: 1.2rem;
        }
    }

    &__item{
        position: relative;
        padding-bottom: 3.4rem;
        margin-left: 1.3rem;
        margin-right: 1.3rem;
        transition: all 0.5s;
        
        & i{
            transition: all 0.5s;
        }

        &:hover{
            & > .menu__sublist{
                opacity: 1;
                z-index:9;
                transition: all 0.5s;
                &:before{
                    width: 100%;
                }
            }

            & i.fa-caret-down{
                transform: rotate(180deg);
                transition: all 0.5s;
            }
        }

        &:after{
            content: '';
            width: 0;
            bottom: 0;
            opacity: 0;
            height: 3px;
            left: 0;
            transition: .3s;
            background: #9b0a0a;
            position: absolute;
            z-index:10;
        }

        &:hover{
            &:after{
                opacity: 1;
                width: 100%;
            }
        }

        @media(max-width: 639px){
            width: 100%;
            padding: 0;

            &:hover{
                & > .menu__sublist{
                    display: block;
                }
            }
            
            &:hover{
                &:after{
                    opacity: 0;
                }
            }
        }
    }

    &__link{
        font-weight: 600;
        display: block;

        @media(max-width: 639px){
            text-align: center;
            padding: 1rem 0;
        }
    }

    &__sublist{
        position: absolute;
        top:calc(100% - 3px);
        right:0;
        background: #fff;
        padding: 0 10px;
        min-width: 20rem;
        opacity: 0;
        z-index: -9;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        &:before{
            content: '';
            width: 0;
            top: 0;
            height: 3px;
            left: 0;
            transition: .3s;
            background: #9b0a0a;
            position: absolute;
            z-index:10;
        }

        @media(max-width: 639px){
            position: relative;
            display: none;
            opacity: 1;
        }
    }

    &__subitem{
        padding: 13px 5%;
        border-bottom: 1px solid #f0f0f0;

        &:after{
            display: none;
        }

        &:last-child{
            border-bottom: none;
        }
    }

    &__sublink{
        font-weight: normal;
        transition: all 0.7s;
        display: block;

        &:hover, &:focus{
            color: #9b0a0a;
        }
    }

    @media(max-width:992px){
        order: 3;
        width: 100%;
    }
    @media(max-width:639px){
        width: 80%;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        display: none;
        order: 4;
    }
    @media(max-width: 576px){
        width: 100%;
    }
}